include README.md
include LICENSE
include pyproject.toml
include test-cli.sh
recursive-include buildstate *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
global-exclude .git*